/* paleta 
.color1 {color: #2e302d;} verde escuro
.color2 {color: #436454;} verde acizentado
.color3 {color: #00c35d;} verde folha
.color4 {color: #cce869;} verde limão
.color5 {color: #ffffb9;} verde amarelo clarinho
*/
body{
    background: url("imagens/forg-fundo2.png");
    font: 12px verdana;
    align-content: center;
}
.div-login{
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cce869;
    color:#2e302d;
    width: 30%;
    height: 40%;
    align-content: center;
    box-shadow: 4px 4px 8px 1px #044724;
}
/*(.div-interna{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}*/
.campo-login{
    border-radius: 30px;
    border-color: transparent;
    background-color: #ffffb9;
    width: 100%;
}
button{
    position: relative;
    border-color: #00c35d;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    background-color: #00c35d;
}
form{
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h1{
    margin-bottom: 0%;
    align-self: center;
}